/* COMMON ZONE */

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fefefe;
}

/* UTILITIES ZONE */

:root{
    --bg-mtmb : #2c3e50;
    --bg-hero-about : #1abc9c;
    --bg-footer: #3a546d;
}

.txt_black{
    color: #333333;
}

.txt_white{
    color: #fefefe;
}

/* END UTILITIES ZONE*/



/* HEADER ZONE */

header{
    background-color: var(--bg-mtmb);
}

nav{
    height: 90px;
}

/* END HEADER ZONE*/

/***********************************
              MAIN ZONE
***********************************/

/*HERO ZONE*/
#hero_sec{
    background-color: var(--bg-hero-about);
    height: 490px;
}
/* END HERO ZONE*/

/*PORTFOLIO ZONE*/
#portfolio_sec{
    background-color: lightcoral;
}

.portf-img{
    width: 100%;
}
/* END PORTFOLIO ZONE*/

/* ABOUT ZONE*/

/* END ABOUT ZONE*/


/* DEBUG ZONE */
