/* COMMON ZONE */

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fefefe;
}
.line{
    width: 40%;
    border: 2px solid white;
}

.black_line{
    width: 40%;
    border: 2px solid black;
}

/* UTILITIES ZONE */

:root{
    --bg-mtmb : #2c3e50;
    --bg-hero-about : #1abc9c;
    --bg-footer: #3a546d;
}

.txt_black{
    color: #333333;
}

.txt_white{
    color: #fefefe;
}

.circle{
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}

/* END UTILITIES ZONE*/



/* HEADER ZONE */

header{
    background-color: var(--bg-mtmb);
}

#navbar_menu{
}

/* END HEADER ZONE*/

/***********************************
              MAIN ZONE
***********************************/

/*HERO ZONE*/
#hero_sec{
    background-color: var(--bg-hero-about);
}
/* END HERO ZONE*/


/*PORTFOLIO ZONE*/
#portfolio_sec{
    background-color: #fefefe;
}

.portf-img{
    width: 100%;
}
/* END PORTFOLIO ZONE*/




/* ABOUT ZONE*/

#about_sec{
    background-color: var(--bg-hero-about);
    /*padding: 8% 0;*/
}
/* END ABOUT ZONE*/



/* CONTACT ZONE*/

#contact_sec{
    background-color: #fefefe;
}

/* END CONTACT ZONE*/

/***********************************
            END MAIN ZONE
***********************************/

/***********************************
            FOOTER ZONE
***********************************/

#top_footer{
    background-color: var(--bg-footer);
}

#bottom_footer{
    background-color: var(--bg-mtmb);
}


/***********************************
            END FOOTER ZONE
***********************************/

